<!-- list.html-->>
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>stock site</title>
</head>
<body>
<h2>here are the stock prices</h2>
<hr>
<table width=400 border=1 bgcolor='#e8e8d0'>
    <tr><td>Stock</td><td>Price</td><td>Date</td></tr>
{% for p in Stocks %}
    <tr>
        <td>
            <a href='/list/{{p.stock}}/'>{{p.name}}</a>
        </td>
        <td>{{p.price}}</td>
        <td>{{p.date}}</td>
    </tr>
{% endfor %}
</table>
<hr>
<a href='/'>homepage</a>
</body>
</html>	